<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="/login/sign_up" method="post">
    <ul>
        <li><label for="account">name:</label> <input name="account" id="account" type="text"></li>
        <li><label for="password">password:</label> <input name="password" id="password" type="password"></li>
        <li>
            <label for="locale">local:</label>
            <select name="locale" id="locale">'
                <option value="zh_CN">Chinese</option>
                <option value="en_US">English</option>
            </select>
        </li>
        <li><input name="submit" value="Sign Up" type="submit"></li>
    </ul>

</form>
</body>
</html>