<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.greed}">User List</title>
</head>
<body>
<a href="/login/sign_up">Sign Up</a>|<a href="/login/sign_in">Sign In</a>
<div>hello:<span th:text="${user.name}"></span> </div>
<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PASSWORD</th>
        <th>LOCALE</th>
        <th>OPERATION</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}">id</td>
        <td th:text="${u.account}">name</td>
        <td th:text="${u.password}">password</td>
        <td th:text="${u.locale}">locale</td>
        <td>
            <a th:href="'/user/delete_user?id='+ ${u.id}">Delete</a>|
            <a th:href="'/user/update_user?id='+ ${u.id}">Update</a>
        </td>
    </tr>
</table>
</body>
</html>
