<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.lazyman.timetennis" level="debug"/>
    <logger name="com.wisesupport.commons" level="debug"/>
    <logger name="org.springframework.jdbc" level="debug"/>
    <logger name="org.springframework.cache" level="trace"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
