<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="!production">
        <logger name="org.springframework" level="info"/>
        <logger name="org.springframework.security" level="debug"/>
        <logger name="org.springframework.web" level="trace"/>
        <logger name="org.springframework.jdbc" level="trace"/>
        <logger name="org.springframework.boot.actuate.endpoint.web.servlet.WebMvcEndpointHandlerMapping" level="trace"/>
        <logger name="com.wisesupport" level="trace"/>
        <logger name="org.quartz" level="info"/>
    </springProfile>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
